{% extends 'two-thirds-layout.njk' %}

{% from "photos/check/macro.njk" import defraCheckPhoto %}

{% block formContent %}

  {{ defraCheckPhoto({
    viewData: viewData,
    fieldname: fieldname
  }) }}

{% endblock %}

{# Overwrite this block to set the different button text #}
{% block continueButton %}
  {{ govukButton({
    text: "Use this photo"
  }) }}
{% endblock %}

{% block contentFooter %}
  <p class="govuk-body"><a href="add-photograph">Use a different photo</a></p>
{% endblock %}
