{% extends 'full-layout.njk' %}

{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "radios/macro.njk" import govukRadios %}

{% block formContent %}

  {{ govukSummaryList({
    rows: viewData.photosSummaryList
  }) }}

  {% if viewData.photosSummaryList.length < viewData.maxPhotos %}
    <p class="govuk-body govuk-!-margin-bottom-7">
      <a id="add-another-photo-link" href="{{ viewData.addPhotoLink }}">Add another photo</a>
    </p>
  {%  endif %}

{% endblock %}

