{% extends 'two-thirds-layout.njk' %}

{% from "input/macro.njk" import govukInput %}

{% block formContent %}

  {{ govukInput({
    name: "email",
    id: "email",
    value: viewData.email,
    errorMessage: errors['email'],
    autocomplete: "email",
    label: {
      text: pageHeading,
      isPageHeading: isQuestionPage,
      classes: "govuk-label--xl"
    },
    hint: viewData.emailHint,
    attributes: {
      spellcheck: "false"
    }
  }) }}

{% endblock %}
