{% extends 'two-thirds-layout.njk' %}

{% from "address/manual/macro.njk" import defraManualAddress %}

{% block formContent %}

  {{ defraManualAddress({
    address: viewData,
    errors: errors
  }) }}

{% endblock %}