{% extends 'two-thirds-layout.njk' %}

{% from "address/find/macro.njk" import ivoryFindAddress %}

{% block formContent %}

  {{ ivoryFindAddress({
    postcode: viewData.postcode,
    errors: errors
  }) }}

{% endblock %}

{% block continueButton %}

  {{ govukButton({
    text: "Find address"
  }) }}

{% endblock %}

{% block contentFooter %}

  {% from "details/macro.njk" import govukDetails %}

  {% set detailsHtml %}
    <p>Help and guidance...</p>
    <ul class="list list-bullet">
      <li>First thing to try</li>
    </ul>
    <p><a href="{{ viewData.manualAddressLink }}">Enter your address manually</a></p>
  {% endset %}

  {{ govukDetails({
    summaryText: "Enter an address outside the UK",
    html: detailsHtml
  }) }}

{% endblock %}