{% extends 'two-thirds-layout.njk' %}

{% from "address/select/macro.njk" import ivorySelectAddress %}

{% block formContent %}

  {{ ivorySelectAddress({
    address: viewData.address,
    addresses: viewData.addresses,
    errors: errors
  }) }}

{% endblock %}

{% block formFooter %}
  <p class="govuk-body"><a href="{{ viewData.manualAddressLink }}">I can't find my address in the list</a></p>
{% endblock %}