{% extends 'two-thirds-layout.njk' %}

{% from "person/name/macro.njk" import defraPersonName %}

{% block formContent %}

  {{ defraPersonName({
    fullname: viewData['full-name'],
    fullnameLabel: viewData['full-name-label'],
    errors: errors
  }) }}

{% endblock %}
