{% extends 'two-thirds-layout.njk' %}

{% from "option/single/macro.njk" import defraSingleOption %}

{% block formContent %}

  {{ defraSingleOption({
    pageHeading: pageHeading,
    viewData: viewData,
    fieldname: fieldname,
    errors: errors,
    isQuestionPage: isQuestionPage
  }) }}

{% endblock %}