{% extends 'common/layout.njk' %}

{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 id="defra-page-heading" class="govuk-heading-l">{{ pageHeading }}</h1>

    {% if errors %}
      {% from "error-summary/macro.njk" import govukErrorSummary %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}


    <form method="post" autocomplete="off" {{ novalidateVal }}>
      <input id="defra-csrf-token" type="hidden" name="DefraCsrfToken" value="{{DefraCsrfToken}}">

      {% block formContent %}{% endblock %}


      {% block continueButton %}
      {{ govukButton({
        text: "Continue"
      }) }}
      {%  endblock %}

      {% block formFooter %}{% endblock %}

    </form>

    {% block contentFooter %}{% endblock %}

  </div>
</div>
{% endblock %}