{% extends 'layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">The registration has already been submitted</h1>
      <p class="govuk-body">
        If you would like to register another item, please click <a href="/" class="govuk-link">here</a>.
      </p>
    </div>
  </div>
{% endblock %}