language: node_js
node_js:
  - "10"
cache:
  directories:
    - node_modules

script:
  - npm test

after_script:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < lcov.info

addons:
  code_climate:
    repo_token: 728a91a29934415088ec150c49469e258416aebd57c818bbd18f8b77f313928f

env:
  - ADDRESS_LOOKUP_ENABLED=false
    AIRBRAKE_ENABLED=false
    COOKIE_PASSWORD=7044a01fe9e9e4960eb9be8c75bc61ca6360b2adb0cd84673f51da0e16b65249c04f5f358b4bfbcc03b64cce6baa95172148b68a5ac354d8153b60804ec09943