{% extends 'two-thirds-layout.njk' %}

{% from "radios/macro.njk" import govukRadios %}

{% block formContent %}

  {{ govukRadios({
    idPrefix: fieldname,
    name: fieldname,
    hint: viewData.hint,
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: isQuestionPage,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    errorMessage: errors[fieldname],
    items: viewData.items
  }) }}

{% endblock %}

{% block formFooter %}
  {% if viewData.description %}
    <p class="govuk-body">{{ viewData.description }}</p>
  {% endif %}
  {% if viewData.guidanceLink %}
    <p class="govuk-body"><a class="govuk-link" href="{{ viewData.guidanceLink.href }}">Read the guide</a> for further
      information.</p>
  {% endif %}
{% endblock %}
