@import "node_modules/govuk-frontend/all";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.check-your-answers {
  td {
    vertical-align: top;

    &.required {
      color: $govuk-error-colour;
    }
  }

  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

.govuk-prose-scope {

  // @extend inheritance

  // Contextual heading and paragraph combinations are inherited
  // through the use of @extend

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}

/* Add photo input file style */
/* Please direct questions to @nicprice */
/* Based on nostyle.herokuapp.com */
/* Implemented as subclass of govuk-file-upload (e.g. <input class="govuk-file-upload ivory-govuk-file-upload"...) */
.ivory-govuk-file-upload {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: .5em;
  border: 2px solid #eee;
  background-color: #eee;
  width: 100%;
  max-width: 26em;

  &:hover {
    border: 2px solid #222;
  }

  &:focus {
    outline: 3px solid #222;
  }
}

.check-photo-img {
  width: 100%;
  max-width: 26em;
}

.govuk-summary-list__key {
  vertical-align: top;
}

.ivory-upper-case {
  text-transform: uppercase;
}


