@import "node_modules/hapi-govuk-frontend/application.scss";

.check-your-answers {
  td {
    vertical-align: top;

    &.required {
      color: $govuk-error-colour;
    }
  }

  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

/* Add photo input file style */
/* Please direct questions to @nicprice */
/* Based on nostyle.herokuapp.com */
/* Implemented as subclass of govuk-file-upload (e.g. <input class="govuk-file-upload ivory-govuk-file-upload"...) */
.ivory-govuk-file-upload {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: .5em;
  border: 2px solid #eee;
  background-color: #eee;
  width: 100%;
  max-width: 26em;

  &:hover {
    border: 2px solid #222;
  }

  &:focus {
    outline: 3px solid #222;
  }
}

.check-photo-img {
  width: 100%;
  max-width: 26em;
}

.govuk-summary-list__actions,
.govuk-summary-list__key {
  vertical-align: top;
}

.ivory-upper-case {
  text-transform: uppercase;
}


