{% extends 'two-thirds-layout.njk' %}

{% from "textarea/macro.njk" import govukTextarea %}

{% block formContent %}

  {{ govukTextarea({
    name: "item-description",
    id: "item-description",
    value: viewData['item-description'],
    errorMessage: errors['item-description'],
    label: {
      text: pageHeading,
      isPageHeading: isQuestionPage,
      classes: "govuk-label--xl"
    },
    hint: {
      text: "Explain what the item is, including any features that make it stand out."
    }
  }) }}

{% endblock %}