{% extends 'common/layout.html' %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Check your answers</h1>

                <form method="post" autocomplete="off" novalidate>

                <h2 class="govuk-heading-m">Your details</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ session.ownerName }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/owner-name">
                                Change
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ session.ownerAddressLine }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/owner-address-find">
                                Change
                            </a>
                        </dd>
                    </div>
                </dl>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <h2 class="govuk-heading-m">Item details</h2>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Item description
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ session.itemDescription }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/item-description">
                                Change
                            </a>
                        </dd>
                    </div>
                </dl>

                <button type="submit" class="govuk-button">Confirm and continue</button>

                </form>

    </div>
</div>
{% endblock %}