{% extends 'common/two-thirds-layout.njk' %}

{% block formContent %}
  {% from "summary-list/macro.njk" import govukSummaryList %}

  {{ govukSummaryList({
    rows: viewData.rows
  }) }}

{% endblock %}

{% block continueButton %}
  <button type="submit" class="govuk-button">Confirm and continue</button>
{% endblock %}