{% extends 'layout.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% for service in viewData.services %}
        <ul class="govuk-list">
          <li>
            <label>Service:</label>
            <strong id="application-service-{{ service.name }}">{{ service.name }}</strong>
          </li>
          <li>
            <label>Version:</label>
            <strong id="application-version-{{ service.name }}">{{ service.version }}</strong>
          </li>
          <li>
            <label>Commit hash:</label>
            <strong>
              <a id="commit-hash-{{ service.name }}" target="_blank" class="govuk-link" href="{{ service.commit }}">{{ service.hash }}</a>
            </strong>
          </li>
          <li>
            <label>Started:</label>
            <strong>{{ service.instance.startedTimestamp }}</strong>
          </li>
        </ul>
      {% endfor %}
      <ul class="govuk-list">
        <li>
          <label>Page rendered:</label>
          <strong>{{ viewData.renderTimestamp }}</strong>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}