{% extends 'layout.njk' %}

{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if errors %}
        {% from "error-summary/macro.njk" import govukErrorSummary %}

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      {% if not isQuestionPage %}
        <h1 id="defra-page-heading" class="govuk-heading-xl">{{ pageHeading }}</h1>
      {% endif %}

      {% block formDefinition %}
      <form method="post" {{ novalidateVal }}>
        <input id="defra-csrf-token" type="hidden" name="DefraCsrfToken" value="{{ DefraCsrfToken }}">
        {% endblock %}

        {% block formContent %}{% endblock %}


        {% block continueButton %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endblock %}

        {% block formFooter %}{% endblock %}

      </form>

      {% block contentFooter %}{% endblock %}

    </div>
  </div>
{% endblock %}