{% extends 'common/two-thirds-layout.njk' %}

{% block formContent %}

    {% from "select/macro.njk" import govukSelect %}

    {{ govukSelect({
        id: "address",
        name: "address",
        value: viewData.address,
        errorMessage: errors['address'],
        label: {
            text: "Select an address"
        },
        items: viewData.addresses
    }) }}

{% endblock %}

{% block formFooter %}
    <p class="govuk-body"><a href="{{viewData.manualAddressLink}}">I can't find my address in the list</a></p>
{% endblock %}