{% extends 'common/two-thirds-layout.njk' %}

{% block formContent %}
    <div class="govuk-form-group">

        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="description">Describe the item</label>
        </h1>

        <span id="title-hint" class="govuk-hint">Include any distinguishing features</span>

        <textarea class="govuk-textarea" id="description" name="itemDescription" rows="5" aria-describedby="declarationText-hint" required>{{ viewData.itemDescription }}</textarea>
    </div>
{% endblock %}